/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Color Variables */

:root{
    --dark-1: #131313;
    --dark-2: #424242; 
    --dark-3: #727272;
    --btn-bg: #FF900E;
    --white: #ffffff;
    --footer-bg: #FFF4E7;
}

body{
  color: var(--dark-3);
  font-size: 1rem;
}

/* Common Style */

.btn-primary{
  font-weight: 600;
  background-color: var(--btn-bg);
  color: var(--white);
  width: 180px;
  height: 60px;
  padding: 20px 25px;
  border: none;
  border-radius: 10px;
}

/* Header Style */

.header{
  background-color: rgba(255, 144, 14, 0.1);
  width: 100%;
  padding: 50px 240px;
}
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2 a{
  color: var(--dark-1);
  text-decoration: none;
  font-size: 2.8rem;
  font-weight: 800;
}
.header-nav ul{
  display: flex;
  list-style-type: none;
}
.header-nav li{
  padding-right: 75px;
}
.header-nav li:last-child{
  padding-right: 0;
}
.header-nav a{
  color: var(--dark-2);
  font-weight: 500;
  font-size: 1.125rem;
  text-decoration: none;
}

.header-nav a:hover{
  text-decoration: underline;
  color: var(--dark-1);
}
.header-content{
  text-align: center;
}
.header-title{
  color: var(--dark-1);
  font-size: 4rem;
}
.header-center-content{
  padding: 100px 0px 30px;
  width: 830px;
  margin: 0 auto;
}
.hero-img{
  margin-top: 50px;
}