/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* 
/* Color Variables */

:root{
    --dark-1: #131313;
    --dark-2: #424242; 
    --dark-3: #727272;
    --btn-bg: #FF900E;
    --white: #ffffff;
    --footer-bg: #FFF4E7;
}

/* Common Style */
.d-flex{
  display: flex;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.btn-primary{
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--btn-bg);
  border: none;
  padding: 20px 25px;
  border-radius: 8px;
}
.main{
  max-width: 1440px;
  margin: 0 auto;
}
section{
  margin-bottom: 130px;
}
/* Header Style */
.header{
  margin-bottom: 85px;
}
.header-bg{
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
  padding-top: 50px;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand{
  text-decoration: none;
  color: var(--dark-1);
  font-size: 2.8125em;
  font-weight: 800;

}

.nav-item{
  list-style: none;
}
.nav-link{
  color: var(--dark-2);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125em;
  margin-right: 60px;
}
.nav-link:hover{
  text-decoration: underline;
  color: var(--dark-1);
  font-weight: 700;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  padding: 100px 0 50px;
  text-align: center;
}
.banner-title{
  font-size: 4rem;
  font-weight: 800;
  color: var(--dark-1);
}
.banner-description{
  color: var(--dark-3);
  margin-bottom: 30px;
}
.banner-img{
  width: 100%;
}

/* Features Style */

.features{
  align-items: center;
  gap: 70px;
}
.features-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature-image{
  max-width: 340px;
}

.features-content{
  max-width: 550px;
}
.feature-title{
  font-size: 2.813em;
  color: var(--dark-3);
  font-weight: 600;
}
.feature-description{
  color: var(--dark-3);
}
.feature-title, .feature-description{
  margin-bottom: 24px;
}
#span-1{
  font-weight: 800;
  color: var(--dark-1);
}
#span-2{
  color: var(--btn-bg);
  font-weight: 800;
}
/* Features List Style */

.features-list{
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.features-list-content{
  position: relative;
}
.features-list-heading{
  color: var(--dark-1);
  font-weight: 700;
  font-size: 2.813em;
  width: 450px;
}
.features-list-heading::before{
  content: '';
  position: absolute;
  width: 5px;
  height: 105px;
  background-color: var(--btn-bg);
  top: 15px;
  left: -25px;
}
.features-list-description{
  color: var(--dark-3);
  width: 600px;
  margin: 30px 0;
}
.features-list-items{
  margin: 0;
  padding: 0;
}
.features-list-item{
  width: 600px;
  list-style: none;
  box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 30px;
}
.features-list-item-heading{
  font-weight: 600;
  font-size: 1.25em;
  color: var(--dark-1);
}
.features-list-item-description{
  color: var(--dark-3);
}
.features-list-image{
  position: relative;
}
.features-list-thumbnail{
  width: 100%;
}
.experience-card{
  background-color: var(--btn-bg);
  color: var(--white);
  width: 250px;
  height: 150px;
  border-radius: 8px;
  text-align: center;
  padding: 45px;
  position: absolute;
  bottom: -25px;
  left: -25px;
  font-size: 2em;
  font-weight: 800;
}
.experience-span{
  font-weight: 500;
  font-size: .85em;
}
  .banner-content{
    width: 50%;
  }
  .banner-title{
    font-size: 2em;
  }
  .banner-description{
    font-size: .75em;
  }
  .features-image-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .features-content{
    padding: 0 45px;
  }
/* facts Styling */
.facts-title{
  font-size: 2.8em;
  color: var(--dark-1);
}
.facts-description{
  color: var(--dark-3);
  width: 500px;
  margin-bottom: 100px;
}

.facts-items{
  justify-content: space-around;
}
.facts-item{
  border: 1px solid var(--btn-bg);
  padding: 45px 30px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
}
.facts-item-image{
  margin: 0 auto;
}
.facts-num{
  color: var(--dark-2);
  font-size: 2.8em;
}
.facts-overview{
  color: var(--dark-3);
  font-size: 1.25em;
}












/* Mobile Responsive Header */

@media screen and (max-width: 576px){
  .navbar, .nav-items, .features, .features-list, .facts-items{
    flex-direction: column;
  }

}
/* Media Queries for Mobile and Tablet Devices */
@media screen and (min-width: 768px) and (max-width: 1024px){
  .navbar, .nav-items, .features, .features-list, .facts-items{
    flex-direction: column;
  }
  .features-image-container{
    grid-template-columns: repeat(2, 1fr);
  }
}